TOKEN=change-me-long-random-token

PUBLIC_HOST=auto
PUBLIC_HOST_FALLBACK=

VOLTER_PUBLIC_PORT=443
VOLTER_LEGACY_PORT=25565
VOLTER_INTERNAL_PORT=25565
VOLTER_QUIC_PORT=4433

WARP_NETWORK=volter-warp-net
WARP_SUBNET=172.31.255.0/24
WARP_IP=172.31.255.10
VOLTER_IP=172.31.255.2

WARP_LICENSE_KEY=
WARP_SLEEP=5
WARP_GOST_ARGS=-L socks5://:1080
WARP_SOCKS_PORT=1080

SERVER_MODE=both
DEBUG=false
CONTROL_PANEL=false
CONTROL_PORT=8088
